/*------------------------------------*\
    $NO-RESULTS
\*------------------------------------*/
.main__header--noresults {

  h1 {
    text-align: left!important;
  }

  #searchform {
    margin: 0;
  }

    .form-control {
      text-align: left;
    }
}