/*------------------------------------*\
    $PASSWORD PROTECTED
\*------------------------------------*/
.password-form {
  @extend %comment-form;

  width: 50%;

  input[type='password'] {
    width: 100%;
  }
}

.password-form-text {
  margin-bottom: $_lh*1rem;
}