/*------------------------------------*\
    $ADMIN RTL SUPPORT
\*------------------------------------*/

@import 'compass';
@import '../../_vendor/inuit.css/defaults',
        '../../_vendor/inuit.css/generic/mixins';


/*------------------------------------*\
    BASE
\*------------------------------------*/
.rtl {
  direction: rtl;
  unicode-bidi: embed;
}


/*------------------------------------*\
  $PROJECTS GALLERY
\*------------------------------------*/
.pikart-gallery-reset {
  margin-right: 10px;
}

.pikart-gallery-images {
  margin-right: 250px;
}



/*------------------------------------*\
    $METABOX
\*------------------------------------*/
#header_slider,
#poststuff div[id^="page_builder_sections"],
#audio_post_format {

  .meta-box-custom-field {
    margin-right: 10px;

    label {
      margin-right: 0;
      margin-left: 20px;

      text-align: left;
    }

    span {

      @include media-query(portable) {
        margin-right: 100px;
        margin-left: 0;
      }

      @include media-query(desk) {
        margin-right: 254px;
      }
    }
  }
}


/*------------------------------------*\
  $PAGE BUILDER
\*------------------------------------*/
#poststuff {

  div[id^="page_builder_sections"] {

    .handlediv {
      right: auto;
      left: 22px;
    }

    .wp-editor-wrap {

      @include media-query(portable) {
        margin-left: 0px;
      }

      @include media-query(desk) {
        margin-right: 250px;
        margin-left: 0;
      }

      .mce-menubtn.mce-fixed-width {

        span {
          margin-left: 0;
        }
      }
    }

    .tmce-active + span {

      @include media-query(portable){
        margin-left: 0;
      }

      @include media-query(desk){
        margin-left: 254px;
      }
    }

    .wp-media-buttons {

      @include media-query(portable) {
        float: left;
      }
    }

      .wp-media-buttons-icon {
        margin-right: 2px!important;
      }
  }
}

#page_builder_add_section {

  span {

    &:after {
      float: left;
    }
  }

  .icon-refresh {
    margin-0: 10px;
    margin-right: 10px;
  }
}


/*------------------------------------*\
  $THEME OPTIONS
\*------------------------------------*/
#arkfield_setting_logo_image-button {
  float: right;
}

#customize-control-arkfield_setting_heading_line_height,
#customize-control-arkfield_setting_text_font_size,
#customize-control-arkfield_setting_text_line_height,
#customize-control-arkfield_setting_letter_spacing {
  float: left;
}


/*------------------------------------*\
  $OBJECTS
\*------------------------------------*/
.new-tab {

  label {
    right: 23px;
    left: 0;
  }
}