/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
%pikode--btn--basic {
  display: inline-block;

  border-radius: $button-radius;
  margin: 0 0 $_lh*1.7rem;

  font-weight: 300;

  letter-spacing: $_bsu16;
  text-transform: uppercase;

  @include transition(all 0.5s);
}

%pikode--btn,
.pikode--btn {
  @extend %pikode--btn--basic;

  color: $white;

  &:hover,
  &:focus {
    background: $light;
    color: $black;
  }
}

a.pikode--btn {

  &:visited,
  &:link,
  &:active {
    color: $white;
  }

  &:hover,
  &:focus {
    color: $black;
  }
}

%pikode--btn--reverse,
.pikode--btn--reverse {
  @extend %pikode--btn--basic;

  background: $light;
  color: $black;

  &:hover,
  &:focus {
    color: $white;
  }
}


/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
%btn--alpha,
.btn--alpha {
  font-size: 1.28rem;
}

%btn--beta,
.btn--beta {
  font-size: 1.14rem;
}

%btn--gamma,
.btn--gamma {
  font-size: 1rem;
}


/*------------------------------------*\
    $SIZES
\*------------------------------------*/
%btn--small,
.btn--small {
  padding-right: 1.28em;
  padding-left: 1.28em;
  line-height: 2.28;
}

%btn--large,
.btn--large {
  padding-right: 1.71em;
  padding-left: 1.71em;
  line-height: 2.85;
}

%btn--huge,
.btn--huge {
  padding-right: 2.14em;
  padding-left: 2.14em;
  line-height: 3.42;
}