/*------------------------------------*\
    $COLUMNS
\*------------------------------------*/
.row {
  @extend .cf;

  margin-bottom: $_lh*1rem;

  @include media-query(lap-and-up) {
    margin-left: -$_lh*1rem;
  }
}

  .pikode--column {
    float: left;

    position: relative;

    min-height: 1px;
    width: 100%;
    border-left: 0 solid transparent;

    @include media-query(lap-and-up) {
      border-left-width: $_lh*1rem;
    }
  }

  @include media-query(lap-and-up) {

    .pikode--column--1 {
      width: 8.33333%;
    }

    .pikode--column--2 {
      width: 16.66667%;
    }

    .pikode--column--3 {
      width: 25%;
    }

    .pikode--column--4 {
      width: 33.33333%;
    }

    .pikode--column--5 {
      width: 41.66667%;
    }

    .pikode--column--6 {
      width: 50%;
    }

    .pikode--column--7 {
      width: 58.33333%;
    }

    .pikode--column--8 {
      width: 66.66667%;
    }

    .pikode--column--9 {
      width: 75%;
    }

    .pikode--column--10 {
      width: 83.33333%;
    }

    .pikode--column--11 {
      width: 91.66667%;
    }

    .pikode--column--12 {
      width: 100%;
    }
  }