/*------------------------------------*\
    $GALLERY
\*------------------------------------*/
%gallery-columns {

  .gallery-columns-1 {

    .gallery-item {
      width: 99.9%;
    }
  }
  .gallery-columns-2 {

    .gallery-item {
      width: 49.9%;
    }
  }
  .gallery-columns-3 {

    .gallery-item {
      width: 33.2%;
    }
  }
  .gallery-columns-4 {

    .gallery-item {
      width: 24.9%;
    }
  }
  .gallery-columns-5 {

    .gallery-item {
      width: 19.9%;
    }
  }
  .gallery-columns-6 {

    .gallery-item {
      width: 14.5%;
    }
  }
  .gallery-columns-7 {

    .gallery-item {
      width: 14.1%;
    }
  }
  .gallery-columns-8 {

    .gallery-item {
      width: 12.4%;
    }
  }
  .gallery-columns-9 {

    .gallery-item {
      width: 11.1%;
    }
  }
}